<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container border rounded my-5 p-5">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda
        delectus modi iure perferendis voluptatum eaque accusamus explicabo
        minima quos qui.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque
        sit iste natus quasi ab perspiciatis eaque dicta sapiente voluptas. Nisi
        ea non sequi, quidem fuga nam harum eos aspernatur nobis amet tenetur
        blanditiis quasi, beatae quos voluptas? Commodi, nulla!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
        nemo delectus consequuntur, corrupti exercitationem officiis cupiditate
        rerum doloribus quasi eius harum voluptatum iusto atque odit. Libero
        numquam delectus veniam tempore?
      </p>
      <p>Copyright &copy; 2023 - All Rights Reserved.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
