<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container border rounded my-5 p-5">
      <h1>This is the Home Page.</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum sapiente
        neque incidunt non delectus! Impedit voluptate quam similique, ut alias
        inventore iste placeat nesciunt molestias, atque voluptates repudiandae
        nostrum soluta natus dignissimos ab assumenda necessitatibus in ipsa
        ipsum, quisquam ullam laborum. Inventore esse soluta veniam cum eius
        quam vero expedita?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus
        quo? Commodi architecto eveniet quas rerum nulla labore odio doloribus
        perferendis accusamus minima id incidunt iste asperiores ex, animi
        libero.
      </p>
      <button class="btn btn-lg btn-primary px-5">Create Account</button>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
